<div class="row featurette" *ngFor="let element of elements">

  <ng-container *ngIf="element.id % 2 === 0; else impar">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        {{element.titulo}}
        <span class="text-body-secondary">Checkmate.</span>
      </h2>
      <p class="lead">
        {{element.parrafo}}
      </p>
    </div>

    <div class="col-md-5">
      <svg aria-label="Placeholder: 500x500"
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500"
        preserveAspectRatio="xMidYMid slice" role="img" width="500" xmlns="http://www.w3.org/2000/svg">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
        <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">
          500x500
        </text>
      </svg>
    </div>
  </ng-container>

  <ng-template #impar>
    <div class="col-md-5">
      <svg aria-label="Placeholder: 500x500"
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" height="500"
        preserveAspectRatio="xMidYMid slice" role="img" width="500" xmlns="http://www.w3.org/2000/svg">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect>
        <text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">
          500x500
        </text>
      </svg>
    </div>

    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        {{element.titulo}}
        <span class="text-body-secondary">Checkmate.</span>
      </h2>
      <p class="lead">
        {{element.parrafo}}
      </p>
    </div>
  </ng-template>

</div>